.font18{
    font-size: 18px;
}

.font16{
    font-size: 16px;
}
.border{
    border: 1px solid black;
}

.barcode{
    border: 1px solid white;
}
 .spaceing5px{
    word-spacing: 5px;
 }
 /* CSS สำหรับขนาดหน้าซองจดหมาย */
 .elderborder{
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
    /* padding-top: 5px; */
    padding-bottom: 5px;
 }

.qrcode{
    float: left; 
    width: 150px;
    border: 1px solid white; 
    padding-left: 15px; 
    padding-top: 10px; 
    padding-right: 10px; 
    padding-bottom: 10px;
}
.ninjabrand{
    float: left; 
    width: 200px;
    text-align: center; 
    line-height: 0.8; 
    margin-top: 50px; 
    margin-left: 10px;
    border: 1px solid white;
}

.barcode{
    float: right;
    width: 370px; 
    text-align: center; 
    line-height: 1; 
    margin-top: -20px;
}

.addressfrom{
    float: left;
    width: 330px;
    height: 180px;
    border: 1px solid black;
    line-height: 1.2;
}

.addressto{
    float: right;
    width: 410px;
    height: 180px;
    border: 1px solid black;
    line-height: 1.2;
}

.formataddress{
    font-size: 20px;
    padding-left: 20px;
    padding-top: 5px
}

.headerfrom{
    font-size: 20px; 
    font-weight: bold; 
    border-bottom: 1px solid black; 
    line-height: 1;
    padding-left: 5px;
}

.headerto{
    font-size: 20px; 
    font-weight: bold; 
    border-bottom: 1px solid black; 
    line-height: 1;
    padding-left: 5px;
}
 
/* CSS สำหรับขนาดหน้าซองจดหมายขนาด A4 */
.elderbordera4{
    border: 1px solid gray;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 47%;
    height: 32%;
    float: left;
    margin-left: 5px;
    margin-top: 7px;
    /* float: left; width: 48%; 
    border: 1px solid black; */
 }

.addressfroma4{
    width: 220px;
    height: 130px;
    border: 1px solid black;
    line-height: 1;
    float: left;
}

.addresstoa4{
    width: 280px;
    height: 130px;
    border: 1px solid black;
    line-height: 1;
    float: right;
    margin-left: 20px

}

.qrcodea4{
    float: left; 
    width: 100px;
    border: 1px solid white; 
    padding-left: 15px; 
    padding-top: 10px; 
    padding-right: 10px; 
    padding-bottom: 10px;
}

.ninjabranda4{
    float: left; 
    width: 150px;
    text-align: center; 
    line-height: 0.8; 
    margin-top: 10px; 
    margin-left: 5px;
    border: 1px solid white;
}

.barcodea4{
    float: right;
    width: 350px; 
    text-align: center; 
    line-height: 1; 
    margin-top: -70px;
    border: 1px solid white;
}

.coda4{
    width: 210px; 
    float: left; 
    margin-top: 5px; 
    height: 20px; 
    padding-left: 10px;
}

.delivera4{
    height: 20px;
    float: right; 
    width: 260px; 
    padding-left: 20px;
    margin-left: 20px

}

.formataddressa4{
    font-size: 16px;
    padding-left: 20px;
    padding-top: 5px
}

/* CSS สำหรับขนาดหน้าซองจดหมาย ขนาด B5 */
.elderbordera5{
    border: 1px solid gray;
    padding-top: 5px; 
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    width: 80%;
    margin-top: 500px;
 }

.qrcodea5{
    float: left; 
    width: 80px;
    /* border: 1px solid black;  */
    padding-left: 15px; 
    padding-top: 10px; 
    padding-right: 10px; 
    padding-bottom: 10px;
}

.ninjabranda5{
    float: left; 
    width: 200px;
    text-align: center; 
    line-height: 0.8; 
    margin-top: 10px; 
    margin-left: 10px;
    /* border: 1px solid black; */
    font-weight: bold;
    font-size: 20px
}

.barcodea5{
    float: right;
    width: 345px; 
    text-align: center; 
    line-height: 1; 
    margin-top: -10px;
    /* border: 1px solid black; */
}


.addressfroma5{
    width: 250px;
    height: 130px;
    border: 1px solid black;
    line-height: 1;
    float: left;
    margin-top: 20px;
}

.addresstoa5{
    width: 380px;
    height: 130px;
    border: 1px solid black;
    line-height: 1;
    float: right;
    margin-left: 20px

}

.coda5{
    width: 240px; 
    float: left; 
    margin-top: 5px; 
    height: 20px; 
    padding-left: 10px;
    border: 1px solid black;

}

.delivera5{
    height: 20px;
    float: right; 
    width: 360px; 
    padding-left: 20px;
    margin-left: 20px;
    border: 1px solid black;

}

.comment{
    height: 20px;
    /* padding-left: 10px; */
    margin-top: 10px;
    border: 1px solid gray;
    float: left;
    width: 100%; 

}

.formataddressa5{
    font-size: 16px;
    padding-left: 20px;
    padding-top: 5px
}
